html,
body {
    color: $default-light;
    margin: 1rem;
    padding: 0;
}

html {
    font-family: $sans-serif;
    font-size: 16px;
    overflow-y: auto;
}

body {
    background-color: $background-1;
}

a {
    @include transition(color .2s ease-out);    
    color: $default-light;

    &:hover {
        color: $default-dark;
    }
}

h1 {
    font-size: 9rem;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
}

img.portrait {
    border-radius: 50%;
    border: 10px solid $default-light;
    margin: 2em 3em;
    width: 300px;
    height: 300px;
}

.center {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

span {
  font-family: 'Voltaire', sans-serif;
  position: relative;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  letter-spacing: -4px;
}

.fliph {
  display: inline-block;
  top: 12px;
  /*vertical-align: bottom;*/
  font-size: 52px;
  transform: scaley(-1); /* Or also:   rotateY(180deg) */
  -ms-filter: fliph;
  filter: fliph;
}

.lower {
  display: inline-block;
  color: #6c6c6c;
  top: 0px;
  font-size: 50px;
  /*vertical-align: bottom;*/
}




